---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/logo.png"></a>
      </div>
      <a href="{{site.baseurl}}/"><div class="author-name">{{site.title}}</div></a>
      <p>{{site.description}}</p>
    </div>
  </header>
  <footer>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer>
</aside>
<div class="content-box clearfix">
  {{ content }}
  <span style="font-size: 9px; width: 100%; text-align: center; margin-top: 3px;">Icons by fontawesome <a href="https://fontawesome.com/license">(Creative Commons Attribution 4.0)</a></span>
</div>
